<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador metodologia BEM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&display=swap"><!--fuentes para los parrafos https://fonts.google.com/-->
    <link rel="stylesheet" href="../style.css"><!--importar el archivo de estilos-->
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo.png" alt="">
    </header>
    <section class="no-found">
        <div class="not-found__container">
            404 <br>
            Page not found.
        </div>
    </section>
    <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaracion de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>