$blanco: whitesmoke; /* variable para css */

body{
    margin: 0px;
    background:linear-gradient(#21C08B,#486499);
    /* background-color: #146404; */
    font-family: 'Muli', ; /* para que toda las letras de la aplicacion queden con el tipo de letra */      
}

.flex{
    display: flex;
    align-items: center;
}

@mixin alto_ancho {
    width: 100%;
    height: 80px;
}

.header{
    @include alto_ancho();
/*  width: 100%;
    height: 80px; */
    @extend .flex; /* Extend para la herencia de las propiedades de la clase .flex */
/*    display: flex; /* para ubicar la lista menu arriba a la derecha */
/*    align-items: center;*/
    justify-content: space-between; /* contenedor poner los dos lementos de cabecera con un espacio en el medio*/;

}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 31px;/*margen entre el elemento y el borde final de la pantalla*/
}

.header__menu ul{
    display: none; /*para no ver nada de la lista */
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0px; /*Quitar el espacio entre el texto y el borde*/
    position: absolute; /* Dejar posicion absoluta si se quiere mover luego */
    width: 100px;
    text-align:right;
    margin: 0px 0px 0px -14px;/*negativo para salir un poco de la margen.*/
}
.header__menu:hover ul, ul:hover{ /* Para visualizar las lu al hacer hover sobre las listas y viceverza */
    display: block; /* para que al hacer hover se muestre */
}

.header__menu li{
    margin: 10px 0px; /* el primero arriba y abajo, el segundo derecha e izquierda */
}
.header__menu li a{
    color: $blanco;
    text-decoration: none; /* para quiter las lineas por debajo de los enlaces */
}

.header__menu li a:hover {
    text-decoration: underline; /* para poner  las lineas por debajo de los enlaces cuando se pasa el mouse por encima de los titulos*/
}

.header__menu--profile{
    margin-right: 8px;/*espaciado entre iamgen y texto*/
    display: flex;
    align-items: center;
    img{ /* Prueba de anidacion, ponemos el objeto img como parte de la clase .header__menu--profile y no se escribe otra vez  */
        margin-right: 8px;
        width: 40px;
        align-items: center;
    }
}
/*
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    align-items: center;
}
*/
.header__menu--profile p{
    margin: 0px;
    color: $blanco;
}

.main{
    height: 300px;
}

.main__title{
    color: $blanco;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.input{
    background-color: rgba(255, 255, 255, 0.1); /* color del input mismo que el fondo  */
    border: 2px solid  rgb(16, 197, 137); /* Para marcar el borde del input */
    border-radius: 50px; /* redondear bordes del input */
    color: $blanco;
    font-family: 'Muli', ; /* para que toda las letras de la aplicacion queden con el tipo de letra */  
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 100%; /* valor relativo para el tamaño de pantalla */
    outline: none; /* Quitar la linea azul que aparece cuando se da clic en el input */
    box-sizing:border-box;
}

::placeholder{ /* Para el color del texto en la caja input */
    color: $blanco;
}

.carousel{
    width: 100%;
    overflow: scroll;
    padding: 10px;
    position: relative; /* todos los objetos que esten contenidos aqui van a ajustarse al tamaño. */
}

.carousel__container{
    white-space: nowrap; /* permitir que los objetos se vayan de largo */
    margin: 70px 0px;
    padding-bottom: 10;
}

.carousel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: gray;
    overflow: hidden;
    margin-right: 10px ;
    display: inline-block; /* hace que los div se organicen de manera horizontal */
    cursor: pointer; /* cambia el cursor por una mano */
    transition: 450ms; /*  animacion mas fluida mas suave */
    transform-origin: center left; /* para que no se salga del margen y que empiece de izquierda a derecha. */
    position: relative;

}

.carousel-item:hover ~ .carousel-item{ /* que sea para el item actual y cuando no se haga hover, se desplace a la derecha */
    transform:translate3d(100px, 0, 0); /* cuando haga hover todos los elementos se desplazan a la derecha */

}

.carousel__container:hover .carousel-item{ /* al hacer hover sobre el container los item se vuelvan opacos */
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5); /* incrementa el tamaño del item cuando se hace hover y cambia la opacidad */
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover; /* para ver la imagen original como se veia en la pagina de descargas. */
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover{
    opacity: 1;
}

.carousel-item__details--img{
    width: 10px;
    height: 10px;
}   
.carousel-item__details--title{
    color: $blanco;
    font-size: 10px;
    font-weight: bold;
}  
.carousel-item__details--subtitle{
    color: white;
    font-size: 8px;
}  

.footer{
/*    background-color: #486499;*/
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%; /* Para tomar toda la pantalla */
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.no-found{
    margin: 0px;
    background:linear-gradient(#21C08B,#486499);
    font-family: 'Muli', ;
    min-height: calc(100vh - 200px);
}

.not-found__container {
	min-height: 500px;
	margin: 0px30px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	color: white;
	text-align: center;
}

@media only screen and (max-width: 600px){
    /*Media querys utilizado para que el diseño se ajuste a las diferentes pantallas, telefonos, tablets.*/
     .login__container{
         background-color: transparent;
         border: none;
         padding: 0px;
         width: 100%;
     }
     .footer{ /* esta parte se usa para acomodar todo en columna */
         align-items:flex-start ;
         flex-direction: column;
     }

    }